<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  {% include header.html %}
  
  <body class='home'>
    <div id='top'>
      <div id='header'>
        <h1>
          <a class='href' href='/'>KISSmetrics</a>
        </h1>
        <a class='km' href='https://www.kissmetrics.com'>Go to KISSmetrics &rarr;</a>
      </div>
    </div>
    <div id='wrapper'>
      <div id='crumbs'>
        <div class='leftcrumb'>
        </div>
        <div class='rightcrumb'>
          <ul id='breadcrumb' class='breadcrumb'>
            {% if page.categories %}
              <li><a href="/">Home</a><span class="divider">/</span></li>
              {% for category in page.categories %}
                <li><a href="/{{category}}">{{ category | capitalize }}</a> <span class="divider">/</span></li>
              {% endfor %}
            {% endif %}
            <li class="active">{{ page.title }}</li>
          </ul>
        </div>
      </div>
      <gcse:search></gcse:search>
      <div class='col side'>
        <div id='st-results-container'></div>
        <script>
          (function() {
            var cx = '009531893520964362398:c1fehvwv1kc';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <div class='menu'>
          <ul>
            {% include menus/getting_started_menu.html %}
            {% include menus/apis_menu.html %}
            {% include menus/best_practices_menu.html %}
            {% include menus/use_cases_menu.html %}
            {% include menus/tutorials_menu.html %}
            {% include menus/tools_menu.html %}
            {% include menus/external_integrations_menu.html %}
            {% include menus/how_tos_menu.html %}
            {% include menus/AB_testing_menu.html %}
            {% include menus/advanced_menu.html %}
            {% include menus/troubleshooting_menu.html %}
            {% include menus/misc_menu.html %}
            <li>
              <a href='/status'>KISSmetrics Status</a>
            </li>
            <li>
              <a href='/contact-us'>Contact Us</a>
            </li>
          </ul>
        </div>
      </div>

      <div class='col'>
        {{ content }}
      </div>

    </div>

    <div id='footer'>
      <p>
        &copy;
        2013
        KISSmetrics. All rights reserved.
        <img src="http://ad.retargeter.com/seg?add=528457&t=2" width="1" height="1" style="border:0; outline:none;" />
      </p>
    </div>

  </body>
</html>
